html {
	height: 100%;
}

body {
	font-family: Source Sans Pro, Fira Sans, Roboto, Noto Sans, sans-serif;
	text-align: center;
	background-color: #ddd;
	color: #000;
	margin: 0;
	padding: 0;
	min-height: 100%;
}

a {
	color: inherit;
}

h1 {
	margin: 0;
	padding: 1em 0.1em;
	background-color: #444;
	color: #fff;
}

body.success {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
body.success h1 {
	padding: 0;
	background-color: transparent;
	color: inherit;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	margin: 2em 0;
}

input {
	font-size: 200%;
	font-family: inherit;
	background-color: #fff;
	padding: 0.5em 1em;
	cursor: pointer;
	border: 1px solid #aaa;
	border-radius: 0.2em;
}

input::before {
	position: absolute;
	top: 0;
	left: 0;
	content: "hallo";
	width: 162px;
	height: 161px;
	background-image: url("/static/button.png");
}

main {
	margin: 2em;
}

footer {
	margin-top: 3em;
	color: #555;
}
